body {
  background-color: #1f1f1f;

}
.page{
  height: 100vh;
}
#gh:hover, #ig:hover, #li:hover, #me:hover, #re:hover
{
    fill-opacity:0.4;
}
.social-icon
{
  fill:#d9d9d9;
  background-color: blue;

}
#contact ul
{
  color:white;
  text-align:center;
  list-style: none;
  /* list-style-position:outside; */
  margin: auto;
  padding: 0;
  

}
#contact li
{
  display:inline; 
  text-align: center;
  padding: 5px;

}
.project-image{
  width:30%;
  height:50vh;
  object-fit: cover;
  object-position: 50% 0;


}
.txt{
  color: #d9d9d9;
}
.title{
  font-size: 28vh;
  font-weight: bold;
  margin-bottom: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
